@charset "UTF-8";

/* Mobile First */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #D2DEED;
}

header {

}
main > section.imagem {
    background-color: white;
    width: 320px;
    height: 320px;
    border-radius: 20px 20px 0px 0px;

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main > section > img {
    height: 300px;
    width: 300px;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main > section.texto {
    background-color: white;
    width: 320px;
    height: 110px;
    border-radius: 0px 0px 20px 20px;

    position: absolute;
    top: calc(65% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
}

main > section.texto > p.texto-1 {
    text-align: center;
    font-size: 18px;
    width: 275px;
    font-weight: bold;

    margin-left: 20px;
}

main > section.texto > p.texto-2 {
    text-align: center;
    font-size: 12px;
    width: 245px;
    margin-top: 10px;
    margin-left: 35px;
    color: grey;
}

footer {
    font-size: 12px;
    background-color: wheat;
    width: 98vw;
    text-align: center;
    padding: 5px;
    border-radius: 10px;


    position: absolute;
    top: calc(97%);
    left: 50%;
    transform: translate(-50%, -50%);
}